* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif !important;
}

html,
body,
#root {
    font-family: 'Raleway', sans-serif !important;
    background-size: cover;
    background: linear-gradient(to bottom, #d3d3d3, #f5f5f5) no-repeat top left;
}

button,
a,
input,
textarea,
select {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}

.questionNumbers{
    padding-top: 0 !important;
    padding-left: 0 !important;
}

.question-grid{
    justify-content: flex-start !important;

    @media (max-width: 599px) {
        max-width: 290px;
    }
}