* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
    width: 100%;
    /*background-image: url('assets/picFURA.png');*/
    background-color: #F5F5F5;
    background-repeat: repeat; /* Повторяет изображение по горизонтали и вертикали */
    background-size: auto; /* Автоматический размер фона */
    background-position: top left; /* Позиция изображения в верхнем левом углу */
}
