* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif !important;
}

html,
body,
#root {
    font-family: 'Raleway', sans-serif !important;
    background-size: cover;
    background: linear-gradient(to bottom, #d3d3d3, #f5f5f5) no-repeat top left;
}

.css-1wtg167-MuiGrid-root {
    margin-left: 0 !important;
}

.css-sp2ku9-MuiGrid-root > .MuiGrid-item {
    padding-left: 0 !important;
    padding-top: 0 !important;
}

button,
a,
input,
textarea,
select {
    outline: none !important;
    -webkit-tap-highlight-color: transparent;
}
